button.cta__button {
  margin: 20px 0 20px 0;
  border-radius: 2rem;
  border: 0;
  width: 220px;
  box-shadow: 2px 5px 5px #dedada;
  font-size: 16px;
  color: #fff;
  padding: 1rem;
  background-image: radial-gradient(ellipse farthest-corner at 20px 0, #FF79DA 0%, #9356DC 100%);
}
button.cta__button:hover {
  box-shadow: 3px 3px 14px lightgray, 3px 3px 14px lightgray;
  transition-duration: 0.15s;
}

body {
  margin: 0;
}

.bloc-page {
  max-width: 768px;
  margin: auto;
  width: 100%;
  font-family: Roboto;
}

h4 {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: black;
}

header.header {
  padding: 20px 0 10px 0;
  text-align: center;
  box-shadow: 0px 8px 6px -6px #bfb9b9;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.user {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.user__location {
  background-color: #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user__location--icon {
  margin-right: 5px;
}

.user__location h3 {
  margin: 12px;
  font-size: 16px;
  font-weight: 400;
}

.walkthrough {
  padding: 0 20px;
}
.walkthrough__list {
  display: flex;
  flex-direction: column;
}

.list__block {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #F6F6F6;
  margin: 10px;
  padding: 10px 0;
  border-radius: 20px;
  box-shadow: 2px 5px 5px #dedada;
}
.list__block--number {
  color: #fff;
  background-color: #9356DC;
  border: 1px solid #9356DC;
  border-radius: 50%;
  padding: 4px 8px 4px 8px;
  margin: 0 1.5rem 0 -12px;
  font-weight: 300;
  font-size: 16px;
}
.list__block:hover {
  background-color: #df4fdf11;
  transition-duration: 0.2s;
}

.list__block i {
  padding: 0 40px 0 20px;
  color: grey;
}

.restaurants {
  padding: 40px 20px;
  background-color: #F6F6F6;
  margin-top: 70px;
}

.restaurants__cards {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 250px;
  border-radius: 1.5rem;
  margin: 0 0 3rem 0;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 5px 5px #dedada;
}
.restaurants__cards:hover {
  box-shadow: 3px 3px 14px lightgray, 3px 3px 14px lightgray;
  transition-duration: 0.15s;
}
.restaurants__cards--picture img {
  border-radius: 1.5rem 1.5rem 0 0;
  width: 100%;
  height: 175px;
  object-fit: cover;
}
.restaurants__cards--infos h3 {
  margin: 10px 0 10px 20px;
}
.restaurants__cards--infos h4 {
  margin: 10px 0 10px 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding-left: 20px;
}
.footer__title {
  font-family: Shrikhand;
  color: #FFF;
  font-weight: 300;
}
.footer__links {
  line-height: 10px;
}
.footer__links a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #FFF;
}
.footer__links i {
  margin-right: 10px;
}

.restaurants__cards--heart i {
  position: absolute;
  transform-origin: bottom;
  opacity: 1;
  font-size: 24px;
  right: 1.5rem;
  bottom: 1.5rem;
}

.restaurants__cards--tag {
  border-radius: 3px;
  background-color: #99e2d0;
  color: #217460;
  padding: 5px;
  position: absolute;
  top: 12px;
  right: 10px;
}

.header__return {
  position: absolute;
  top: 1.5rem;
  left: 1rem;
}

img.menupage__pict {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.menupage__title {
  font-family: "shrikhand", sans-serif;
  position: relative;
  border-radius: 1.5rem 1.5rem 0 0;
  padding: 2.2rem 0 0 1.5rem;
  margin-top: -2rem;
  margin-bottom: 0px;
  background-color: #F6F6F6;
}
.menupage__title--heart {
  position: absolute;
  top: 3.3rem;
  right: 8%;
  font-size: 1.5rem;
  color: #000;
}

.menupage__title h1 {
  margin-bottom: 0px;
}

.menu__desc h2 {
  margin: 15px 0 10px 0;
  font-size: 16px;
}

.menu {
  background-color: #F6F6F6;
  padding: 14px;
}

.menu__title {
  padding: 2rem 0 0.5rem;
  font-size: 1rem;
}
.menu__title--underline {
  width: 2.5rem;
  border-top: 3px solid #99E2D0;
  margin: 0.5rem 0 0 0;
}

.menu__desc {
  position: relative;
  background-color: #fff;
  height: 70px;
  padding: 0 0 15px 0;
  margin: 16px 0;
  cursor: pointer;
  overflow: hidden;
  -webkit-box-align: center;
  -ms-flex-align: center;
  border-radius: 1.5rem;
  box-shadow: 3px 3px 10px #dedada;
  animation: fadein 1s 0.3s ease-out both, transform 0.3s;
}
.menu__desc--title {
  padding-left: 12px;
}
.menu__desc--subtitle {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 30px 12px;
}
.menu__desc--animation {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  top: 0;
  left: 100%;
  width: 20%;
  height: 100%;
  border-radius: 0 1.5rem 1.5rem 0;
  color: #fff;
  font-size: 20px;
  transform-origin: right;
  visibility: hidden;
}

.price {
  font-size: 14px;
  font-weight: bold;
  padding-right: 0.5rem;
}

.menu__button {
  display: flex;
  justify-content: center;
  background-color: #F6F6F6;
  padding-bottom: 20px;
}

.menu__desc:hover > .menu__desc--animation {
  visibility: visible;
  transition: all 0.5s ease-in;
  transform: translateX(-100%);
}

.menu__desc:hover > .menu__desc--animation .menu__desc--circle {
  transform: rotate(-360deg);
  transition-duration: 1s;
  animation-delay: 0.3s;
}

.menu__desc:hover > .menu__desc--subtitle > .price {
  padding-right: 4rem;
  transition-duration: 0.5s;
}

.menu__desc:hover > .menu__desc--subtitle > .txt {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@keyframes fadein {
  0% {
    transform: translateY(-40%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=styles.css.map */
